PRIVATE_KEY=
FOUNDRY_RPC_URL=https://mainnet.infura.io/v3/123456789
HYPERCORE_RPC_URL=https://rpc.hyperliquid.xyz/evm
FOUNDRY_REACTOR_OWNER=0x1681910dEDc43B7F7FEfBA9FbDB7357Bfd4694c8
FOUNDRY_FEE_RECEIVER=
FOUNDRY_SWAPROUTER02EXECUTOR_DEPLOY_OWNER=
FOUNDRY_SWAPROUTER02EXECUTOR_DEPLOY_WHITELISTED_CALLER=''
FOUNDRY_SWAPROUTER02EXECUTOR_DEPLOY_REACTOR=''
FOUNDRY_SWAPROUTER02EXECUTOR_DEPLOY_SWAPROUTER02=0x6D99e7f6747AF2cDbB5164b6DD50e40D4fDe1e77